@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 36px;
  height: auto;
}

.titlePrincipal {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin: 30px 0px;
  text-align: center;
  color: black;
}

.titlePrincipalDark{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin: 30px 0px;
  text-align: center;
  color: white;
}

.cardProductos {
  display: grid;
  margin: 4px;
  align-items: center;
  justify-content: center;
}

.cardProducto {
  width: auto;
  height: auto;
  margin: 4px;
}

.cardProducto:hover{
  background-color: rgba(93, 69, 69, 0.73);
  transform: translateY(-4%)
}

.cardBody {
  margin-bottom: 3px;
  text-align: center;
}

.cardBodyDark {
  margin-top: 3px;
  text-align: center;
}

.cardBodyDark:hover{
  background-color: rgba(93, 69, 69, 0.73);
}

.cartWidget{
  margin-right: 40px;
  color: white;
}

.cardContainer{
  margin-top: 3%;
  margin-left: 26,5%;
}

.cardCart{
  max-width: 640px;
}

.divButtons button{
  margin: 4px;
}

img {
  margin-top: 3px;
}

.itemDetail {
  max-width: 800px;
  margin-top: 20px;
}

.itemDetailBodyDark {
  background-color: hsl(0, 0, 33%);
  color: white;
  text-align: center;
}

.darkMode {
  background-color: rgb(255, 255, 255);
  color: white;
}

.cardFooter{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: white;
  background-color: rgb(125, 66, 66);
}

.bodyFooter{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: rgb(255, 255, 255);
  background-color: rgb(121, 57, 57);
}